<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- include ('partials/head') %>
    <title><%= title %></title>
</head>

<body>

    <%- include ("partials/navigation") %>
   
    <!-- header -->


    <header class="row center">
        <div class="col-lg-12 text-center m-auto">
            <img src="/img/node.png" class="animated bounceIn image" alt="node logo">
        </div>
    </header>


    <!-- section -->

    <div class="container-fluid" id="us">
<div class="row bg-dark text-white p-5 text-center">
    <div class="col-sm-6">
        <i class="fab fa-youtube fa-10x"></i>
    </div>
    <div class="col-sm-6">
        <h3>Node & Express</h3>
        <p>Construyendo tu futuro aquí y ahora. Consequuntur minus libero rem cupiditate officiis deleniti autem id sequi iusto commodi! Contá con nosotros y nuestro equipo de desarrollo</p>
    </div>
</div>
    </div>

    <%- include ('partials/footer.ejs') %>
</body>

</html>